type vendor_init_exec, exec_type, vendor_file_type, file_type;

allow vendor_init default_prop:file read;
allow vendor_init kernel:system module_request;
allow vendor_init proc:file write;
allow vendor_init proc_max_map_count:file write;
allow vendor_init rootfs:dir write;
allow vendor_init selinuxfs:file write;

# Allow vendor_init to set SELinux checkreqprot
allow vendor_init kernel:security setcheckreqprot;

# Allow vendor_init to create directories (usb, cust, splash2, newsys) in rootfs
allow vendor_init rootfs:dir { add_name write create setattr };

# Allow setting props for TWRP 14
allow vendor_init build_bootimage_prop:property_service set;
allow vendor_init default_prop:property_service set;
# allow vendor_init build_prop:property_service set;
